/* 
- Make it your own - use something other than X and O to represent the players. A theme can go a long way here!
- Add styling or other details to reinforce your theme and customize the game.
*/

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    margin: 0;
    --txtColor: rgb(247, 247, 247);
    color: var(--txtColor);
  }

  * {
    margin: 20px auto;
  }

  .carter-one-regular {
    font-family: "Carter One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .board, .choosing {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
  }
  
  .sqr, .choice {
    width: 30%;
    aspect-ratio: 1;
    border: 3px solid var(--txtColor);
    font-size: 64px;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
  }